<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>又拍云上传文件</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="./css/index.css" />
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="https://cdn.xiaoli.vip/tools/upyun/hash.js"></script>
</head>
<body>
<div id="app">
    <h2>又拍云上传文件（图片版）</h2>
    <div class="img-upload">
        <img v-if="imgLocalUrl" :src="imgLocalUrl" alt="">
        <div v-else>+</div>
        <input id="upload" type="file" accept=".jpg,.png" @change="uploadImg" />
    </div>
    <div class="config">
        <div class="config-line">
            <div>云存储服务名</div>
            <input type="text" v-model="bucket" placeholder="请输入云存储服务名称" />
        </div>
        <div class="config-line">
            <div>操作员</div>
            <input type="text" v-model="username" placeholder="请输入操作员名称" />
        </div>
        <div class="config-line">
            <div>密码</div>
            <input type="text" v-model="password" placeholder="请输入密码" />
        </div>
        <div class="config-line">
            <div>上传路径</div>
            <input type="text" v-model="path" placeholder="请输入上传路径" />
        </div>
        <div class="config-line">
            <div>测试域名</div>
            <input type="text" v-model="testCdnUrl" placeholder="请输入测试域名" />
        </div>
    </div>
    <div class="preview-list">
        <div v-for="item in uploadImgList" :key="item">
            <img :src="item" alt="">
            <a :href="item" target="_blank">{{ item }}</a>
        </div>
    </div>
</div>

</body>

<script>
	const App = {
		data() {
			return {
				bucket: 'xiaoli-test',
                username: 'test',
                password: '0LjHlUNs8n0RWbEPi3c0BB3dOJBkfhwd',
                path: '/img',
                testCdnUrl: 'http://xiaoli-test.test.upcdn.net',
                imgLocalUrl: '',
                uploadImgList: []
			};
		},
        methods: {
			uploadImg (e) {
				const file = e.target.files[0]
				this.imgLocalUrl = URL.createObjectURL(file)

                /* 创建FormData */
                const uploadData = new FormData()
				uploadData.append('file', file);

				const url = `https://v0.api.upyun.com/${ this.bucket }`

				/* 计算policy */
                const policyObj = {
					bucket: this.bucket,
					'save-key': `${ this.path }/{filename}{.suffix}`,
					expiration: new Date().getTime() + 600, /* 过期时间，在当前时间+10分钟 */
				}
				const policy =  btoa(JSON.stringify(policyObj))
				uploadData.append('policy', policy);


                /* 计算 Authorization */
                const passwordMd5 = HexMD5.MD5(this.password).toString(HexMD5.enc.Hex)

                /* [Method-请求方法, URI-请求路径, policy] */
                const arr = ['POST', `/${ this.bucket }`, policy]

                const authorization = `UPYUN ${ this.username }:${ b64hamcsha1(passwordMd5, arr.join('&')) }`
				uploadData.append('authorization', authorization);

				axios({ method: 'POST', url, data: uploadData }).then((res) => {
					this.uploadImgList.push(this.testCdnUrl + res.data.url)
                }).catch(e => {
					console.error('上传失败', e)
					alert('上传失败')
                })

				/* 清除input的值，解决二次上传文件未触发 */
                document.getElementById('upload').value = ''
            }
        }
	};
	const app = Vue.createApp(App);
	app.mount("#app");
</script>
</html>
